// Colors
$color-primary: #e97c7c;

$color-grad-1: #f12711;
$color-grad-2: #f5af19;

$color-grey-light-1: #f9f5f3;
$color-grey-light-2: #fffefe;
$color-grey-light-3: #d3c7c3;
$color-grey-dark-1: #000;

$color-white: #fff;
$color-black: #171414;

// Type color
$color-all: #d0c171;
$color-normal: #a09898;
$color-fighting: #c46565;
$color-flying: #8686ce;
$color-poison: #c265c2;
$color-ground: #bfa202;
$color-rock: #ac7979;
$color-bug: #3fc43f;
$color-ghost: #7d7dac;
$color-steel: #968c8c;
$color-fire: #b86868;
$color-water: #8585d0;
$color-grass: #4ea44e;
$color-electric: #ffff00;
$color-psychic: #ab63ab;
$color-ice: #6161a7;
$color-dragon: #fda501;
$color-dark: #b66363;
$color-fairy: #ee82ee;

// Stats color
$color-40: #b50000;
$color-80: #e4a00c;
$color-110: #b6f833;
$color-130: #077607;

// Button gradient
$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

// SHADOWS
$shadow-dark: 0 1.5rem 5rem rgba($color-black, 0.3);
$shadow-light: 0 1.5rem 4rem rgba($color-black, 0.2);
$shadow-button: 0 1rem 2rem rgba($color-black, 0.2);
$shadow-ball: 0 0.5rem 1rem rgba($color-black, 0.2);

// BREAKPOINTS
$bp-cards-huge: 178.125em; // 2850px
$bp-cards-extra-large: 140.625em; // 2250px
$bp-cards-large: 125em; // 2000px
$bp-cards-big: 100em; // 1600px
$bp-big: 68.75em; // 1100px
$bp-medium: 46.875em; // 750px
$bp-small: 37.5em; // 600px
$bp-smallest: 28.125em; // 450px

// FONT
$default-font-size: 1.6rem;

// Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-big) {
    font-size: 57.5%;
  }

  img {
    user-select: none;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-black;

  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  display: grid;
  grid-template-columns: min-content 1fr;
}
