// Colors
.all {
  color: $color-all;
}

.normal {
  color: $color-normal;
}
.fighting {
  color: $color-fighting;
}
.flying {
  color: $color-flying;
}
.poison {
  color: $color-poison;
}
.ground {
  color: $color-ground;
}
.rock {
  color: $color-rock;
}
.bug {
  color: $color-bug;
}
.ghost {
  color: $color-ghost;
}
.steel {
  color: $color-steel;
}
.fire {
  color: $color-fire;
}
.water {
  color: $color-water;
}
.grass {
  color: $color-grass;
}
.electric {
  color: $color-electric;
}
.psychic {
  color: $color-psychic;
}
.ice {
  color: $color-ice;
}
.dragon {
  color: $color-dragon;
}
.dark {
  color: $color-dark;
}
.fairy {
  color: $color-fairy;
}

// Background colors

.badge-normal {
  background-color: $color-normal;
}
.badge-fighting {
  background-color: $color-fighting;
}
.badge-flying {
  background-color: $color-flying;
}
.badge-poison {
  background-color: $color-poison;
}
.badge-ground {
  background-color: $color-ground;
}
.badge-rock {
  background-color: $color-rock;
}
.badge-bug {
  background-color: $color-bug;
}
.badge-ghost {
  background-color: $color-ghost;
}
.badge-steel {
  background-color: $color-steel;
}
.badge-fire {
  background-color: $color-fire;
}
.badge-water {
  background-color: $color-water;
}
.badge-grass {
  background-color: $color-grass;
}
.badge-electric {
  background-color: $color-electric;
}
.badge-psychic {
  background-color: $color-psychic;
}
.badge-ice {
  background-color: $color-ice;
}
.badge-dragon {
  background-color: $color-dragon;
}
.badge-dark {
  background-color: $color-dark;
}
.badge-fairy {
  background-color: $color-fairy;
}

// Stats colors
.color-40 {
  background-color: $color-40;
}

.color-80 {
  background-color: $color-80;
}
.color-110 {
  background-color: $color-110;
}
.color-130 {
  background-color: $color-130;
}
